# Required
ORBIT_DEPLOYMENT_TRANSACTION_HASH=

# Infura RPC endpoint for the parent chain (Arbitrum Sepolia), if not provided, the script might fail with timeout
PARENT_CHAIN_RPC=https://arbitrum-sepolia.infura.io/v3/YOUR_API_KEY

# (Optional) Your chain name
ORBIT_CHAIN_NAME="My Orbit Chain"

# (Optional) Your chain rpc endpoint
ORBIT_CHAIN_RPC=http://localhost:8449

# (Optional) Your chain block explorer url
ORBIT_CHAIN_EXPLORER_URL=http://localhost