# Address of the Rollup contract
ROLLUP_ADDRESS=

# Private key of the account with executor privileges in the UpgradeExecutor admin contract for the chain
# (usually, the deployer of the chain)
CHAIN_OWNER_PRIVATE_KEY=

# Orbit chain configuration
ORBIT_CHAIN_ID=
ORBIT_CHAIN_RPC=

# Parent chain target address. It will receive 10% of the chain revenue on L1
# (This is the Arbitrum Foundation multisig account on Ethereum: https://etherscan.io/address/0x1Afa41C006dA1605846271E7bdae942F2787f941)
PARENT_CHAIN_TARGET_ADDRESS=0x1Afa41C006dA1605846271E7bdae942F2787f941