name: Build, Test

on:
  pull_request:
  workflow_dispatch:

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  audit:
    name: 'Audit'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Run audit
        run: yarn audit:ci

  check-formatting:
    name: 'Check Formatting'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Check formatting with Prettier
        run: yarn prettier:check

  test-type:
    name: Test (Type)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Copy .env
        run: cp ./.env.example ./.env

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test:type

  test-unit:
    name: Test (Unit)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Copy .env
        run: cp ./.env.example ./.env

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test:unit

  test-integration:
    name: Test (Integration) - ${{ matrix.config.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config:
          - name: Nitro contracts v3.1 - Custom gas token with 18 decimals
            nitro-contracts-branch: v3.1.1
            args: --tokenbridge --l3node --l3-token-bridge --l3-fee-token
            decimals: 18

          - name: Nitro contracts v3.1 - Custom gas token with 6 decimals
            nitro-contracts-branch: v3.1.1
            args: --tokenbridge --l3node --l3-token-bridge --l3-fee-token --l3-fee-token-decimals 6
            decimals: 6

          - name: Nitro contracts v2.1 - Custom gas token with 18 decimals
            nitro-contracts-branch: v2.1.3
            args: --tokenbridge --l3node --l3-token-bridge --l3-fee-token
            decimals: 18

          - name: Nitro contracts v2.1 - Custom gas token with 6 decimals
            nitro-contracts-branch: v2.1.3
            args: --tokenbridge --l3node --l3-token-bridge --l3-fee-token --l3-fee-token-decimals 6
            decimals: 6

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Set up the local node
        uses: OffchainLabs/actions/run-nitro-test-node@feat-simplify
        with:
          nitro-testnode-ref: release
          nitro-contracts-branch: ${{ matrix.config.nitro-contracts-branch }}
          args: ${{ matrix.config.args }}

      - name: Copy .env
        run: cp ./.env.example ./.env

      - name: Build
        run: yarn build

      - name: Test
        run: |
          INTEGRATION_TEST_DECIMALS=${{matrix.config.decimals}} \
          INTEGRATION_TEST_NITRO_CONTRACTS_BRANCH=${{matrix.config.nitro-contracts-branch}} \
          yarn test:integration
