name: Build, Test

on:
  pull_request:
  workflow_dispatch:

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  ARBISCAN_API_KEY: ${{ secrets.ARBISCAN_API_KEY }}

jobs:
  audit:
    name: 'Audit'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Run audit
        run: yarn audit:ci

  check-formatting:
    name: 'Check Formatting'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Check formatting with Prettier
        run: yarn prettier:check

  test-unit:
    name: Test (Unit)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Copy .env
        run: cp ./.env.example ./.env

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test:unit

  test-integration:
    name: Test (Integration)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main

      - name: Set up the local node
        uses: OffchainLabs/actions/run-nitro-test-node@feat-debug
        with:
          nitro-testnode-ref: release
          # Use simple mode
          no-simple: false
          # RollupCreator on L1 is deployed by default
          # RollupCreator on L2 is deployed with --l3node
          l3-node: true
          # L3 node with custom fee token when using --l3-fee-token
          args: --l3-fee-token
          debug: true

      - name: Copy .env
        run: cp ./.env.example ./.env

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test:integration
